* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

#app {
    background: #1D2D3C;
}

.container .col-lg-12 .box-img img {
    width: 200px;
    margin:40px;
}

.container .col-lg-12 .bar-search {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container .col-lg-12 .bar-search .input-box{
    background: #fff;
	border-radius: 20px;
	padding: 5px 15px;
    width: 30%;
    text-align: center;
}

.container .col-lg-12 .bar-search .input-box .left-input{
    border: none;
    padding: 5px;

}

.container .box-cd {
    padding: 40px;
    text-align: center;
    color: white;
}

.container .box-cd .box-information {
    margin-top: 20px;
}

.container .col-lg-4 .box-information .box-title h2 {
    color: #880e4f;
    font-weight: bold;
    font-size: 30px;
}

.container img {
    width: 100%;
    border-radius: 8px;
   -webkit-box-shadow: 1px 1px 15px -4px rgba(50,50,50,1);
    -moz-box-shadow: 1px 1px 15px -4px rgba(50,50,50,1);
    box-shadow: 1px 1px 15px -4px rgba(50,50,50,1);
}


